@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

$color1 : #2F2933;
$color2 : #01A2A6;
$color3 : #29D9C2;
$color4 : #BDF271;
$color5 : #FFFFA6;
$color6 : #2F2933;
$color7 : #FF6F69;

html, body {
  height: 100%;
}
 
body {
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
}
 
.navbar {
  background-color: #ffffff;
  border-bottom: #eee 1px solid;
  color: $color3;
  font-family: 'Muli', sans-serif;
  a {
    color: $color3;
    text-decoration: none !important;
  }
 
  .navbar-right-container {
    position: absolute;
    top: 17px;
    right: 17px;
  }
}

.wish-btn {
  margin-left: 5px;
}

login-buttons .content-container {
  left: -250px !important;
}