<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-xs-right">
      <li class="nav-item">
        <login-buttons class="nav-link btn btn-success"></login-buttons>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Wishlist</h3>
</div>
<router-outlet></router-outlet>