<form [formGroup]="addForm" (ngSubmit)="addParty()" class="form-inline">
  <fieldset class="form-group">
    <input id="partyName" class="form-control" type="text" formControlName="name" placeholder="Enter wish" />
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="public">
        Public
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </fieldset>
</form>