<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <parties-form></parties-form>
</header>
<hr>
<!-- Page Features -->
<div class="row">
    <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let party of parties | async">
        <h3>{{party.name}}</h3>
        <p>
            <button class="btn btn-danger" (click)="removeParty(party)">Slet</button><button [routerLink]="['/party', party._id]"
                class="btn btn-success wish-btn">Info</button>
        </p>
    </div>
</div>
<!-- /.row -->
