<form *ngIf="party" (submit)="saveParty()">
  <label>Name</label>
  <input type="text" [(ngModel)]="party.name" name="name">
  <button type="submit">Save</button>
  <a [routerLink]="['/']">Cancel</a>
</form>